body {
  background-image: url("https://specials-images.forbesimg.com/imageserve/5febd10c5fcbfae2bd93bab4/960x0.jpg?cropX1=0&cropX2=7952&cropY1=404&cropY2=5304");
  background-repeat: no-repeat;
  background-size: 100%;
}
