body {
  background-image: url("https://i.pinimg.com/originals/ba/b6/d6/bab6d66a8f0589492a76e159e56ea35b.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}
