section {
  margin: 7rem auto 6.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .login-page {
    background: rgba(21, 20, 20, 0.45);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 20px 0 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
  }

  input {
    margin: 0 auto;
    width: 16rem;
    height: 2rem;
    color: $dark-blue;
    font-size: 1rem;
    border-radius: 5px;
    margin-bottom: 2rem;
    padding: 0 0.5rem;
  }

  input:focus {
    background-color: rgb(186, 238, 238);
    border: 2px black solid;
  }

  .login-btn {
    text-align: center;
    justify-content: center;
    width: 10rem;
    padding: 0.5rem 0px;
    margin: 0 auto;
    color: white;
    font-size: 1.3rem;
    background-color: $light-blue;
    border-radius: 10px;
    cursor: pointer;
  }

  .txt-forget-pwd,
  .txt-do-you,
  .txt-join {
    font-size: 1rem;
    margin-top: 1.2rem;
  }
  .txt-forget-pwd,
  .txt-join {
    color: $light-blue;
    cursor: pointer;
  }
}
